{% extends 'base.html.twig' %}

{% block title %}MyPDF - Convert{% endblock %}

{% block body %}
    <div class="flex min-h-screen justify-center items-center dark:bg-gray-900">
        <div class="container mx-auto max-w-md p-6 bg-gray-800 rounded-lg shadow-md {% if pdfRemaining == 0 %}opacity-50 pointer-events-none{% endif %}">
            <h1 class="text-white text-3xl font-bold mb-8">URL to PDF</h1>
            <form action="{{ path('app_gotenberg_convert') }}" method="post" class="mb-4">
                <label for="url" class="block mb-2 text-gray-400">Enter your URL :</label>
                <input type="text" id="url" name="url" required class="w-full border border-gray-300 px-4 py-2 rounded-md mb-4 focus:outline-none focus:ring focus:ring-blue-400">
                <label for="title" class="block mb-2 text-gray-400">File name :</label>
                <input type="text" id="title" name="title" required class="w-full border border-gray-300 px-4 py-2 rounded-md mb-4 focus:outline-none focus:ring focus:ring-blue-400">
                {% if pdfRemaining > 0 %}
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-400">Convert<span class="text-gray-300 ms-1">({{ pdfRemaining }} remaining)</span></button>
                {% else %}
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-400" disabled>Convert</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}




